body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #b2b2b2;
}

header {
  width: 100%;
  box-sizing: border-box; /* overflow */
} 

.logo img {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 480px) {
    .logo img {
      width: 100px;
    }
}

@media screen and (max-width: 960px) {
    .logo img {
      width: 110px;
    }
}

.navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

.navbar a {
  margin: 10px;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  display: inline-block
}

.navbar li {
  display: inline-block;
  text-align: right;
}

.action {
  color: #fff;
  cursor: pointer;
}

#main {
  width: 70%;
  height: 100%;
  display: inline-block;
}

#main img {
  margin: 0 auto;
  text-align: center;
  display: block;
}

@media screen and (max-width: 1200px) {
    #main img {
      max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    #main img{
      max-width: 100%;
    }
}

@media screen and (max-width: 960px) {
    #main img{
      max-width: 100%;
    }
}

#sidebar {
  width: 30%;
  height: 100%;
  right: 0;
  position: fixed;
  float: right;
  display: inline-block;
  color: #1a1a1a;
  background-color: #b2b2b2;
}

#sidebar p {
  height: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
}

@media screen and (max-width: 960px) {
    #sidebar p {
      font-size: 14px;
    }
}

footer {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #1a1a1a;
  position: absolute;
  bottom: 0;
}

.footer-state {
  margin: 0;
  text-align: right;
}
